html, body {
	background-color: #EEEEEE;
	color: #333333;
	font-family: "Trebuchet MS",Trebuchet,serif;
}
a {
	color: #FF6600;
}
a:hover {
	color: #0066FF;
}
.adminbar {
	background:inherit;
}
.adminbar a {
	font-weight: bold;
}
.logo {
	clear:both;
	text-align:center;
	font-size:2em;
	font-weight: bold;
	color:#FF6600;
	/*width:100%;*/
}
.replymode, .passvalid {
	background:#DDDDDD;
	text-align:center;
	padding:2px;
	color:#2266AA;
	clear: both;
	font-weight: bold;
	margin-bottom: .5em;
	border: solid 1px #CCCCCC;
	border-radius: 5px;
}
.catalogmode {
	background: #0040E0;
	text-align: center;
	padding: 2px;
	color: #DDDDDD;
	clear: both;
	font-weight: bold;
	margin-bottom: .5em;
	border: solid 1px #CCCCCC;
	border-radius: 5px;
}
.postarea {
	border-top:1px solid #BBBBBB !important;
	border-bottom:1px solid #BBBBBB !important;
}
.rules {
	font-size:0.7em;
}
.postblock {
	background:transparent;
	color:#002244;
	font-weight:bold;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
	margin: 2em 0 0 0;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;
}
.managehead {
	background:#DDDDDD;
	color:#002244;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.row1 {
	background:#DDDDDD;
	color:#002244;
}
.row2 {
	background:#CCCCCC;
	color:#002244;
}
.unkfunc {
	background:inherit;
	color:#789922;
}
.reflink {
	font-size: .8em;
	font-weight: bold;
}
.filesize {
	text-decoration:none;
	color: #666666;
	font-size: .8em;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#002244;
	font-weight:bold;
}
.postername {
	color:#004A99;
	font-weight:bold;
}
.postertrip {
	color:#FF3300;
}
.oldpost {
	color:#CC1105;
	font-weight:bold;
}
.omittedposts {
	color:#666666;
}
.reply {
	background:#DDDDDD;
	border: solid 1px #CCCCCC;
	border-radius: 5px;
}

blockquote p {
	margin: 0;
	padding: 0;
}
.doubledash {
	display: none;
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#002244;
	font-weight:bold;
}
.commentpostername {
	color:#004A99;
	font-weight:800;
}
.thumbnailmsg {
	font-size: .8em;
	color:#666666;
}
hr {
	border-style: solid none none none;
	border-width: 1px;
	border-color: #BBBBBB;
}
table {
	border-style: none;
}
table td {
	border-style: none;
}
.nothumb {
	background-color: #FFFFFF;
	border-style: dotted;
	margin: .3em .5em;
}

.abbrev {
	color:#666666;
}
.highlight {
	background:#EEDACB;
	color:#333333;
	border: 2px dashed #EE6600;
}

#watchedthreads {
	background-color: #DDDDDD !important;
  	border: 1px solid #CCCCCC !important;
  	border-radius: 5px;
}

.hidethread {
	background: transparent url('./icons/beige/icons.svg') -32px -16px no-repeat;
}

.unhidethread img {
	background: transparent url('./icons/beige/icons.svg') -48px 0px no-repeat;
}

.watchthread {
	background: transparent url('./icons/beige/icons.svg') -32px 0px no-repeat;
}

.expandthread {
	background: transparent url('./icons/beige/icons.svg') 0px -16px no-repeat;
}

.quickreply {
	background: transparent url('./icons/beige/icons.svg') 0px 0px no-repeat;
}

.hidewatchedthreads, .hidebutton {
	background: transparent url('./icons/beige/icons.svg') -48px -16px no-repeat;
}

.refreshwatchedthreads {
	background: transparent url('./icons/beige/icons.svg') -16px -16px no-repeat;
}

.restorewatchedthreads {
	background: transparent url('./icons/beige/icons.svg') -16px 0px no-repeat;
}

.reflinkpreview {
	background-color: #DDDDDD !important;
}

.topmenu {
	border-bottom: 1px solid #CCCCCC;
	opacity: 0.95;
	background:#EEEEEE;
}
.adminbar img{
	vertical-align:middle;
	border:0;
}
.navbar {
	padding:5px;
}

body {
	margin-top: 33px;
	padding:5px;
}

.catalogsubject {
	color:#002244;
	font-weight:800;
}

.catalogmsg {
	color: #333333;
}

.catalogposts {
	font-weight:800;
	font-size: small;
	color: #666666;
}

.thrdcntnr {
	border-bottom:1px solid #BBBBBB !important;
}

.cataloglist {
	border-bottom: 1px solid #BBBBBB !important;
}

.unhidethread {
	border-bottom:1px solid #BBBBBB !important;
}

.post-badge {
	fill: white;
	background: #aba8a6;
}

.nav-btn {
	fill: #ff6600;
}

.post-btn,
.btn-small {
	fill: #aba8a6;
}

.post-btn:hover,
.btn-small:hover {
	fill: #ff6600;
}
