<div class="content">

<h2><div class="newssub">Общие сведения о радио</div><div class="permalink">&nbsp;</div></h2>
<b>Радио 410</b> — интернет-радиостанция, расположенная на одном домене, что и
410chan, и созданная весной 2009 года. Диджеи вещают ad-hoc, однако есть также автоматизированное
вещание, реализованное с помощью <a href="#mpd">MPD</a>. Радио имеет в собственном
распоряжении отдельную доску <a href="http://410chan.ru/r/" target="_blank">/r/</a>
и jabber-конференцию radio на сервере conference.410chan.ru.<br>
На Радио 410 не существует постоянной сетки вещания,
поэтому за неделю может быть как несколько эфиров разных диджеев, так и вовсе ни одного.
Как правило, каждый диджей имеет какую-то жанровую направленность, но некоторые
придерживаются политики ограничения одного жанра одним эфиром.

<a href="https://plus.google.com/101116259504775144538">«Страница радио на Google+»</a>
<h2><div class="newssub">Информация для желающих стать диджеями</div><div class="permalink">&nbsp;</div></h2>
На Радио 410 всегда приветствуются новые диджеи вне зависимости от их опыта и музыкальных вкусов.
Однако есть также некоторые требования к желающим стать диджеями:
<ul>
<li>наличие общего представления о работе интернет-радио
(его вы можете получить, прочитав <a href="#common_dj">общее руководство для диджеев</a>);</li>
<li>стабильный и быстрый (от 512 kbps) канал в Интернет;</li>
<li>общая вменяемость.</li>
</ul>
Также есть некоторые пожелания, которые, впрочем, необязательны к выполнению:
<ul>
<li>наличие хорошего микрофона;</li>
<li>широкий музыкальный кругозор.</li>
</ul>
Если вы считаете, что удовлетворяете этим требованиям,
обратитесь к любому модератору xmpp-конференции <b>radio</b> на сервере <b>conference.410chan.ru</b>.

<h2><a name="common_dj"></a><div class="newssub">Общее руководство для диджеев</div><div class="permalink">&nbsp;</div></h2>
Радио 410 использует сервер потокового вещания Icecast2.<br>
Диджей подключается к серверу в качестве источника потока,
после чего клиенты-слушатели могут слушать поток через любой плейер, поддерживающий HTTP.
<br>
Эфиры принято анонсировать в разделе /b/ 410чана, /b/ IIChan.ru, а также странице радио на Google+.

В анонсах следует указывать:
<ul>
<li>время, дату эфира;</li>
<li>ссылки на поток и плейлист для прослушивания (как правило,<a href="http://410chan.ru:8000/radio.ogg.m3u">
http://410chan.ru:8000/radio.ogg</a> и <a href="http://410chan.ru:8000/radio.ogg.m3u">
http://410chan.ru:8000/radio.ogg.m3u</a>);</li>
<li>тематику эфира, а лучше название передачи, если таковое имеется;</li>
<li>возможность приёма заявок от слушателей.</li>
</ul>

В анонсах <b>не обязательно</b> указывать:
<ul>
<li>свой ник;</li>
<li>адрес xmpp-конференции Радио 410.</li>
</ul>
В анонсах <b>ни в коем случае не указывать</b>:
<ul>
<li>адрес диджейской конференции Радио 410;</li>
<li>контактные данные, ники других диджеев и посетителей конференции Радио 410.</li>
<!-- <li>своё отношение к администрации любого интернет-ресурса.</li> -->
</ul>
Вещать настоятельно рекомендуется в формате OGG, битрейт фиксированный, 128 kbps, маунт /radio.ogg. Вещание в mp3 чревато
некорректно отображающимися тегами, а также проблемами с MPD (<a href="#mpd">см. ниже</a>).
<br>
В процессе планирования эфира убедитесь, что выбранное время никем не занято.
Узнать это можно, как правило, в конференциях <b>dj</b> или <b>radio</b> на сервере <b>conference.410chan.ru</b>. Если время не занято,
оповестите об этом любого из диджеев или модераторов конференций, либо напишите об этом в топике конференции <b>radio</b>.
<br>
Для получения пароля сервера вещания и доступа к странице на Google+ обращайтесь к остальным диджеям.
<h2><div class="newssub"><a name="mpd"></a>Автоматическое вещание (MPD)</div><div class="permalink">&nbsp;</div></h2>
На маунте <b>/mpd.ogg</b> работает круглосуточный демон Music Player Daemon. Icecast2 настроен на переключение
слушателей на <b>/radio.ogg</b>, как только таковой создаётся.
В случае прекращения вещания живого диджея, слушатели соответственно будут переключены на маунт MPD.
Именно поэтому (а также потому, что оповещалка на имиджборде 410chan.ru просматривает только этот маунт) рекомендуется вещать на <b>/radio.ogg</b>.

<h2><div class="newssub"><a name="manul"></a>Технические руководства по вещанию</div><div class="permalink">&nbsp;</div></h2>
<ul>
<li><a href="http://410chan.ru/news.php?p=radio.unix">Вещание под GNU/Linux</a>;</li>
<li>Вещание под Windows.</li>
</ul>
<br/>
</div>
